@model Traversal.Areas.Member.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h6>Profile Edit Page</h6>
<form method="post" enctype="multipart/form-data">

    <div>
        @Html.Label("Name")
        <input type="text" pattern="[^\d]*" placeholder="Your Name" asp-for="Name" class="form-control"  />
        <span asp-validation-for="Name" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div>
        @Html.Label("Surname")
        <input type="text" pattern="[^\d]*" id="Surname" placeholder="Your Surname" asp-for="Surname" class="form-control"  />
        <span asp-validation-for="Surname" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div>
        @Html.Label("Email")
        <input type="email" placeholder="Your Email" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div>
        @Html.Label("Phone Number")
        <input type="tel" placeholder="Phone Number (05**5**5*5*)" asp-for="Phone" class="form-control"  />
        <span asp-validation-for="Phone" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div>
        @Html.Label("Gender")
        <br />
        @Html.DropDownListFor(x => x.Gender, (List<SelectListItem>)Model.GenderOptions, new { @class = "form-control", style = "font-family: Arial, sans-serif;" })
        <div style="form-control;position: absolute; top: 50%; transform: translateY(-50%); right: 10px;">
            <i class="zmdi zmdi-caret-down" style="font-size: 25px;"></i>
        </div>
        <span  asp-validation-for="Gender" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div>
        @Html.Label("Profile Photo")
        <input type="file" asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div>
        @Html.Label("Age")
        <input type="number" min="18" max="100" placeholder="Age" asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div>
        @Html.Label("Password")
        <input type="password" maxlength="42" asp-for="Password" placeholder="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div>
        @Html.Label("Confirm Password")
        <input type="password" maxlength="42" asp-for="ConfirmPassword" placeholder="Repeat your password" class="form-control"  />
        <span asp-validation-for="ConfirmPassword" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div class="text-danger" asp-validation-summary="ModelOnly" style="color:crimson"></div>

    <button class="btn btn-primary" style="background-color:crimson">Save</button>
    <br />
    <div class="text-danger" asp-validation-summary="ModelOnly" style="color:crimson"></div>
    <br />
</form>