@using EntityLayer.Concrete
@model List<Destination>

<section class="w3l-grids-3 py-5">
    <div class="container py-md-5">
        <div class="title-content text-left mb-lg-5 mb-4">
            <h6 class="sub-title">Visit</h6>
            <h3 class="hny-title">Popular Destinations</h3>
        </div>
        <div class="row bottom-ab-grids">
        @for(var i=0;i<Model.Count();i++)
        {
                <br />
                <div class="col-lg-6 subject-card mt-lg-0 mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <img src="/AdminImages/@Model[i].ImageS" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>@Model[i].City</h4>
                                    <p>@Model[i].StayTime</p>
                                    <div class="dst-btm">
                                        <h6 class=""> Start From </h6>
                                        <span>$@Model[i].Price</span>
                                    </div>
                                    <p class="sub-para">@Model[i].Description</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                
                i = i + 1;
                @if(i<Model.Count())
                {
                <div class="col-lg-6 subject-card mt-lg-0 mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                        <img src="@Model[i].Image" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>@Model[i].City</h4>
                                    <p>@Model[i].StayTime</p>
                                    <div class="dst-btm">
                                        <h6 class=""> Start From </h6>
                                        <span>$@Model[i].Price</span>
                                    </div>
                                        <p class="sub-para">@Model[i].Description</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                }
                <br />
        }
        </div>
    </div>
</section>