@model EntityLayer.Concrete.Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h6>New Reservation Page</h6>
<form method="post">
    <br />
    <div>
        @Html.Label("City")
        <br />
        @Html.DropDownListFor(x => x.Destination, (List<SelectListItem>)ViewBag.values, new { @class = "form-control", style = "font-family: Arial, sans-serif;" })
        <div style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px">
            <i class="zmdi zmdi-caret-down" style="font-size: 25px;"></i>
        </div>
        <span asp-validation-for="Destination" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div>
        @Html.Label("Guests")
        <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="4" min="0" max="2000" placeholder="Number of passengers" asp-for="PersonNum" class="form-control" />
        <span asp-validation-for="PersonNum" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div>
        @Html.Label("Date")
    <input type="date" onkeydown="return false" onmousedown="(function(e){ e.preventDefault(); this.blur(); document.querySelector('input[type=date]').click(); }).call(this, event)" max="@DateTime.Now.AddYears(1).ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" asp-for="ReservationTime" placeholder="Reservation time" class="form-control" />
    <span asp-validation-for="ReservationTime" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div>
        @Html.Label("Additional Description")
        <input type="text" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="100" asp-for="Description" placeholder="Anything else you'd like to add?'" class="form-control" />
        <span asp-validation-for="Description" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div class="text-danger" asp-validation-summary="All" style="color:crimson"></div>
    <br />
    <button class="btn btn-primary" style="background-color:crimson">Make Reservation</button>
    @if(TempData.ContainsKey("SuccessMessage"))
    {
        <script>alert('@TempData["SuccessMessage"]');</script>
    }
    @if(TempData.ContainsKey("ErrorMessage"))
    {
        <script>alert('@TempData["ErrorMessage"]')</script>
    }
    <br />
</form>