@model EntityLayer.Concrete.Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h6>New Reservation Page</h6>
<form method="post" enctype="multipart/form-data">
    <br />
    <div>
        @Html.Label("City")
        <br />
        @Html.DropDownListFor(x => x.Destination, (List<SelectListItem>)ViewBag.values, new { @class = "form-control", style = "font-family: Arial, sans-serif;" })
        <div style="form-control;position: absolute; top: 50%; transform: translateY(-50%); right: 10px;">
            <i class="zmdi zmdi-caret-down" style="font-size: 25px;"></i>
        </div>
        <span asp-validation-for="Destination" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div>
        @Html.Label("Enrollment")
        <input type="number" min="0" max="2000" placeholder="Number of people" asp-for="PersonNum" class="form-control" />
        <span asp-validation-for="PersonNum" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div>
        @Html.Label("Date")
        <input type="date" min="@DateTime.Now.Year()-Date" asp-for="ReservationTime" placeholder="Reservation time" class="form-control" />
        <span asp-validation-for="ReservationTime" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div>
        @Html.Label("Confirm Password")
        <input type="text" maxlength="100" asp-for="Description" placeholder="Anything else you'd like to add?'" class="form-control" />
        <span asp-validation-for="Description" class="text-danger" style="color:crimson"></span>
    </div>
    <br />

    <div class="text-danger" asp-validation-summary="ModelOnly" style="color:crimson"></div>

    <button class="btn btn-primary" style="background-color:crimson">Make Reservation</button>
    <br />

    <div class="text-danger" asp-validation-summary="ModelOnly" style="color:crimson"></div>
    <br />
</form>
