< <div class="best-rooms py-5">
    <div class="container py-md-5">
        <div class="ban-content-inf row">
            <div class="maghny-gd-1 col-lg-6">
                <div class="maghny-grid">
                    <figure class="effect-lily border-radius  m-0">
                        <img class="img-fluid" style="width:100%; height:500px;" src="/AdminImages/@ViewBag.v1Img" alt="" />
                        <figcaption>
                            <div>
                                <h4>@ViewBag.v1DayNite</h4>
                                <p>From @ViewBag.v1Price$ </p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" style="width:300px; height:250px;" src="/AdminImages/@ViewBag.v2Img" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>@ViewBag.v2DayNite</h4>
                                        <p>From @ViewBag.v2Price$ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" style="width:300px; height:250px;" src="/AdminImages/@ViewBag.v3Img" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>@ViewBag.v3DayNite</h4>
                                        <p>From @ViewBag.v3Price$ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" style="width:300px; height:250px;" src="/AdminImages/@ViewBag.v4Img" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>@ViewBag.v4DayNite</h4>
                                        <p>From @ViewBag.v4Price$ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" style="width:300px; height:250px;" src="/AdminImages/@ViewBag.v5Img" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>@ViewBag.v5DayNite</h4>
                                        <p>From @ViewBag.v5Price$ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>