@using EntityLayer.Concrete
@model List<Reservation>

@{
    ViewData["Title"] = "GuestHistory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int counter = 0;
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Active Reservations</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name-Surname</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Destination</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Guests</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Details</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @{
                                            counter += 1;
                                        }
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@counter</span>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@*@item.AppUser.Name @item.AppUser.SurName*@</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.Destination.City</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.PersonNum</p>
                                        </td> 
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.ReservationTime.ToString("dd-MMM-yyyy")</p>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@item.Status</span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <a href="#" class="badge badge-sm bg-gradient-primary">Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>